<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-6 pb-6">
     <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h1 id="main-text" class="display-4 mb-4 text-center">Bem-vindo ao CoderDojoLX Meet!</h1>
        <p class="lead">Esta é a plataforma usada pelo clube de programação CoderDojo LX para gerir as suas sessões virtuais. Você pode criar suas próprias salas para hospedar sessões, ou se juntar a outras utilizando um link curto e conveniente.</p>
        <%= link_to "https://youtu.be/Hso8yLzkqj8", target: "_blank" do %>
          <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center mt-6">
      <div class="col-12 col-lg-8">
     	  <h2  class="text-center">Mais informação</h2>
        <p class="lead">
          Consulte o nosso sitio web <a href="https://coderdojo-lx.pt" target="_blank">aqui</a>.
        </p>
        <p class="lead">
          <strong>Para entrares nas nossas sessões, não precisas de ter conta, mas precisas de ter assinado o «Consentimento para participação em sessão remotas CoderDojo LX».</strong>
        </p>
	    </div>
    </div>

  </div>
</div>